  <!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <!-- /.navbar-top-links -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">

                <li>
                    <a href="/accountconfiguration"><i class="fa fa-dashboard fa-fw"></i> Account Configuration</a>
                </li>

                <li>
                    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Admin<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="#">Branch <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level collapse in" aria-expanded="true" style="">
                                <li>
                                    <a href="/branch/">View All</a>
                                </li>
                                <li>
                                    <a href="/branch/create">Add new</a>
                                </li>                               
                            </ul>
                        </li>
                        <li>
                            <a href="#">Role <span class="fa arrow"></span></a>
                            <ul class="nav nav-third-level collapse in" aria-expanded="true" style="">
                                <li>
                                    <a href="/rolemanager/">View All</a>
                                </li>
                                <li>
                                    <a href="/rolemanager/create">Add new</a>
                                </li>
                            </ul>
                        </li>
                      
                    </ul>
                    <!-- /.nav-second-level -->
                </li>

                <li>
                    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> User Mangement<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/usermanager">View All</a>
                        </li>
                        <li>
                            <a href="/usermanager/Create">Add New User</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>

                <li>
                    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Customer<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/customer">View All</a>
                        </li>
                        <li>
                            <a href="/customer/create">Add New</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Customer Accounts<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/customeraccount">View All</a>
                        </li>
                        <li>
                            <a href="/customeraccount/AddAccount/">Add New</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>

                <li>
                    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> GL Categories<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/glcategory">View All</a>
                        </li>
                        <li>
                            <a href="/glcategory/create">Add New</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>

                <li>
                    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> GL Accounts<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/glaccount">View All</a>
                        </li>
                        <li>
                            <a href="/glaccount/create">Add New</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>

                <li>
                    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Teller Posting<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/tellerposting">View All</a>
                        </li>
                        <li>
                            <a href="/tellerposting/post">Post New</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>

                <li>
                    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> GL Posting<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/glposting">View All</a>
                        </li>
                        <li>
                            <a href="/glposting/posttransaction">Post New</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>

                <li>
                    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Teller Management<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/TellerManagement">View Tellers</a>
                        </li>
                        <li>
                            <a href="/TellerManagement/AssignTillToUser">Assign Till to a Teller</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>

                <li>
                    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Financial Reports<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="/financialreport/trialbalance">Trial Balance</a>
                        </li>
                        <li>
                            <a href="/financialreport/balancesheet">Balance Sheet</a>
                        </li>
                        <li>
                            <a href="/financialreport/profitandloss">Profit and Loss</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>

                <li>
                    <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> ATM Terminals<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="//atmterminal/">View All</a>
                        </li>
                        <li>
                            <a href="/atmterminal/Create">Add new Terminal</a>
                        </li>

                    </ul>
                    <!-- /.nav-second-level -->
                </li>


            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>

